*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(184, 184, 248);
    
}
.title{
    text-align: center;
    margin: 20px;
   
}
.board{
    margin: auto;
    background-color: black;
    width: 80vw;
    height: 80vh;
    border: 5px solid black;
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    gap: 5px;
}
.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(228, 207, 248);
    color: aliceblue;
}
.player-btns {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 2rem;
}

.p1btn, .p2btn{
    margin: 5rem;
}
.p1curr{
    color: red;
    border: 1px solid red;
    font-size: 40px;
}
.p2curr{
    color:blue;
    border: 1px solid blue;
    font-size: 40px;


}

.score{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.card{
    display: none;
    z-index: 100;
    position: absolute;
    width:80vw;
    height: 80vh;
    background-color: gray;
    border: 1px solid black;
    left: 118px;
    top: 83px;
    color: white;
    justify-content: center;
    align-items: center;
}
.gameOver-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card > button{
    background-color: white;
    margin: 15px;
    
}

#reset-btn{
    color: black;
    background-color: whitesmoke;
    position: relative;
    left: 47.5vw;
    margin: 10px;

}